@*
   
*@
@{
}

<body class="backgroundimg">
    <div class="container">
        <h1 style="color:antiquewhite">Obavijesti</h1>
        <h4 style="color:antiquewhite">Da li želite primati obavijesti?</h4>
        <input type="button" value="Uključi obavijesti" onclick="location.href='@Url.Action("ukljuciObavijesti", "Korisnik")'" />;
        <input type="button" value="Isključi obavijesti" onclick="location.href='@Url.Action("iskljuciObavijesti", "Korisnik")'" />;
    </div>
    </body>
