
@{
    ViewData["Title"] = "Pomoc";
}

<h1>Često postavljena pitanja</h1>
<br />
<h2>Ovdje stoji prvo pitanje?</h2>
<br />
<th> Odgovor na prvo pitanje.</th>
<br />
<br />
<h2>Ovdje stoji drugo pitanje?</h2>
<br />
<th> Odgovor na drugo pitanje.</th>
<br />
<br />
<input type="button"
       value="Prijavi problem"
       onclick="location.href='@Url.Action("Create", "ZahtjeviZaPomoc")'" />


