@model IEnumerable<Michelin.Models.Recept>
@{
    ViewData["Title"] = "Home Page";
}

<body class="backgroundimg">
    <div class="container">
        <div class="container">
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <partial name="_ReceptiPartial" model="item" />
                }
            </tbody>
        </table>
            </div>
        <container>

        </container>
    </div>
</body>
