@model Michelin.Models.Recept

@{
    ViewData["Title"] = "Details";
}


<body class="backgroundimg">
    <div class="container">
        <img align="left" src="/uploads/@Model.slika" class="figure-img" height="200"  /> 
        
        
            <h3 style="color:antiquewhite">
                 @Html.DisplayFor(modelItem => @Model.naziv)
            </h3>
            <label align="bottom" style="color:antiquewhite">@Html.DisplayFor(modelItem => @Model.nacionalnoJelo) </label> <br />
           
        
    </div>
</body>

