@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<body class="backgroundimg">
    <div class="container">
        <h1 style="color:antiquewhite">Registracija</h1>

        <div class="row">
            <div class="col-md-4">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4 style="color:antiquewhite">Kreiranje novog računa.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label style="color:antiquewhite" asp-for="Input.ime"></label>
                        <input asp-for="Input.ime" class="form-control" />
                        <span asp-validation-for="Input.ime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:antiquewhite" asp-for="Input.prezime"></label>
                        <input asp-for="Input.prezime" class="form-control" />
                        <span asp-validation-for="Input.prezime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:antiquewhite" asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:antiquewhite" asp-for="Input.korisnickoIme"></label>
                        <input asp-for="Input.korisnickoIme" class="form-control" />
                        <span asp-validation-for="Input.korisnickoIme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:antiquewhite" asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:antiquewhite" asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color:antiquewhite" asp-for="Input.brojTelefona"></label>
                        <input asp-for="Input.brojTelefona" class="form-control" />
                        <span asp-validation-for="Input.brojTelefona" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            
        </div>
        </div>
    </body>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
